<footer class="bg-gray-900">
	<hr class="my-6sm:mx-auto border-gray-700 lg:my-8"/>
	<div class="sm:flex sm:items-center sm:justify-center">
		<span class="text-sm sm:text-center text-gray-400">© 2023
			<a href="/" class="hover:underline">Coffe Clicker</a>. All Rights Reserved.
		</span>
		<div class="flex mt-4 space-x-5 justify-center sm:mt-0"></div>
	</div>
</footer>
