<footer class="bg-gray-900">
	<hr class="border-gray-500"/>
	<div class="grid grid-cols-3">
		<div></div>
		<div class="my-1 mx-4 sm:flex sm:items-center sm:justify-center">
			<span class="text-sm sm:text-center text-gray-400">© 2023
				<a href="/" class="hover:underline">Coffe Clicker</a>. All Rights Reserved.
			</span>
			<div class="flex mt-4 space-x-5 justify-center sm:mt-0"></div>
		</div>
		<div class="my-1 mx-4 justify-self-end">
			<span class="text-sm sm:text-center text-gray-400">
				<a href="/contact" class="hover:underline">Contact us</a>
			</span>
			<div class="flex mt-4 space-x-5 justify-center sm:mt-0"></div>
		</div>
	</div>
</footer>
